<div class="side-nav-container d-flex align-items-start flex-column">
  <div class="side-nav-top">
    <img
      [src]="logoPath"
      class="logo-sidebar"
      id="logo-rer"
      alt="Logo emilia-romagna"/>
  </div>
  <div class="side-nav-center">
    <ul class="side-nav-list">
      <app-sidebar-item *ngFor="let r of sidebarRoutes"
                        [linkName]="r.linkName"
                        [iconName]="r.iconName"
                        [itemLink]="r.itemLink"
                        (click)="selectLink()">
      </app-sidebar-item>
    </ul>

  </div>

  <div class="mt-auto navbar-user-info d-flex flex-row align-items-center">
    <div class="navbar-user-info-circle standard-shadow p-2">
      <span>FP</span>
    </div>
    <div class="d-flex flex-column mr-auto">
      <h4 class="text-bold navbar-user-info-name">Federico Pomponii</h4>
      <h6 class="navbar-user-info-role ">Utente amministratore</h6>
    </div>
    <app-icon iconName="logout"></app-icon>
  </div>
</div>
