<div class="overlay" *ngIf="overlayShow" (click)="toggleViewResume()"></div>
<app-panel-right *ngIf="viewResume" panelTitle="Riepilogo richiesta">
  <app-richiesta-resume></app-richiesta-resume>
</app-panel-right>

<div class="standard-panel">
  <div class="d-flex d-flex-row align-items-center mobile-title-flex-responsive">
    <div class="mr-auto title-mobile-responsive">
      <h1 class="text-title-dark">Richieste</h1>
    </div>
    <div class="btn-container-new" (click)="openDialogInsertCode()">
      <app-cst-button btnClass="btn-success" text="Nuova richiesta da attestato" iconName="add"></app-cst-button>
    </div>
  </div>
  <div class="standard-panel-container standard-shadow standard-section-margin">
    <app-cst-filter-section [filters]="dataSourceFilters"
                            [search]="datasourceSearch"
                            (filterEvent)="filterEvent($event)"></app-cst-filter-section>
    <div class="md-show cst-data-table-small-screen">
      <app-cst-card-data-table class="md-show" [dataSource]="dataSource"
                               [columns]="dataSourceColumns"></app-cst-card-data-table>
    </div>
    <app-cst-table
      class="md-hide"
      (editItemEvent)="editItem($event)"
      (showItemEvent)="showItem($event)"
      [columns]="dataSourceColumns"
      [dataSource]="dataSource"></app-cst-table>
  </div>
</div>


<div class="overlay" *ngIf="overlayShow" (click)="toggleViewResume()"></div>
<app-panel-right *ngIf="viewResume" (closeEvent)="toggleViewResume()" panelTitle="Riepilogo richiesta">
  <app-richiesta-resume></app-richiesta-resume>
</app-panel-right>


