.white-icon {
  color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
  fill: white;
}

.icon-std svg {
  color: #4b5257;
}

.icon-clk:hover {
  color:black;
}

.icon-clk {
  cursor: pointer;
}

.cst-data-card-icon {
  font-size:1.5rem;
  margin:.5rem;
}

.cst-allegato-icon {
  font-size: 50px;
  color: #535252;
}

.icon-warning-giornata {
  margin-left: 2rem;
  color: #ff8135;
}
