<div class="app-container">
  <div class="row app-row">
    <div class="col-12 col-xxxl-2 side-nav standard-shadow" [style.height.px]="myInnerHeight"
         *ngIf="navbarOpen">
      <app-sidebar (linkSelected)="toggleNavBar()"></app-sidebar>
    </div>
    <div class="overlay xxxl-hide" *ngIf="navbarOpen" (click)="toggleNavBar()"></div>
    <div class="col-12 col-xxxl-10 right-rimborsi">
      <app-navigation (eventMenuClicked)="toggleNavBar()"></app-navigation>
      <div class="rimborsi-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
