.user-info-panel {
  padding: 3rem;
  border-radius: 10px;
  align-items: center;
  background: white;
}

.user-info-circle-big {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  margin: 10px;
  background-color: #283033;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #9797972b;
  font-weight: bold;
  font-size: 3rem;
}

.user-info-page-left {
  padding: 2rem;
}

.user-info-page-right {
  border-left: 1px solid #28303326;
}
