<nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center">
  <h5 class="mr-auto">Articoli 39</h5>
  <app-calendar></app-calendar>
  <mat-icon class="icon-std">notifications</mat-icon>
  <!--    <h4 class="text-title-light">Benvenuto Federico, lorem ipsum dolor sit amet</h4>-->
  <!--          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
  <!--                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"-->
  <!--                  aria-label="Toggle navigation">-->
  <!--            <span class="navbar-toggler-icon"></span>-->
  <!--          </button>-->
</nav>
