.navbar {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #28303326;
}

.navbar-brand {
  color: #283033 !important;
}

.navbar-title {
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
