.codici-attestato-list {
  list-style: none;
  margin:0;
  padding:0;
}

.codice-attestato-item {
  margin:.5rem 0 .5rem 0;
  padding:.5rem;
}

.giornate-list-container {
  max-height: 30rem;
  overflow-y: auto;
}

.codice-attestato-text {
  font-size:.9rem;
}

.codice-attestato-name {
  font-size: .7rem;
}
