<div class="standard-panel">
  <div class="d-flex d-flex-row align-items-center mobile-title-flex-responsive">
    <div class="mr-auto title-mobile-responsive">
      <h1 class="text-title-dark">Nuova richiesta da attestato</h1>
      <h4>Aggiungi una nuova richiesta da un attestato presente</h4>
    </div>

    <div class="btn-container-new">
      <app-cst-button btnClass="btn-success" text="Prosegui" iconName="check" (click)="sendRequest()"></app-cst-button>
    </div>
  </div>

  <div class="row standard-section-margin">
    <div class="col-5">

      <app-cst-panel-card cardTitle="Dati Utente">
        <div class="dati-utente">
          <div class="dati-utente-info light-bor-bottom">Evento: <span class="dati-utente-info-b">COVID-19</span></div>
          <div class="dati-utente-info light-bor-bottom"> Utente: <span
            class="dati-utente-info-b">Federico Pomponii</span></div>
          <div class="dati-utente-info light-bor-bottom">Codice Fiscale: <span class="dati-utente-info-b">PMPFRC97R06L103Y</span>
          </div>
        </div>
      </app-cst-panel-card>
      <app-cst-panel-card cardTitle="Codici Attestato">
        <ng-container rightTop>
          <app-cst-button btnClass="btn-success btn-sm" text="Aggiungi codice" iconName="add"></app-cst-button>
        </ng-container>
        <div class="standard-card-panel-body">
          <ul class="standard-list">
            <li class="standard-list-item light-bor-bottom d-flex align-items-center">
              <div class="mr-auto">
                <div class="codice-attestato-text ">ANCJHLIU</div>
                <div class="codice-attestato-name">Federico Pomponii</div>
              </div>
              <app-icon inClass="codice-attestato-icon" iconName="delete" [isOutlined]="true"
                        [isCliccable]="true"></app-icon>
            </li>
            <li class="standard-list-item light-bor-bottom d-flex align-items-center">
              <div class="mr-auto">
                <div class="codice-attestato-text ">ANCJHLSS</div>
                <div class="codice-attestato-name">Federico Pomponii</div>
              </div>
              <app-icon inClass="codice-attestato-icon" iconName="delete" [isOutlined]="true"
                        [isCliccable]="true"></app-icon>
            </li>
            <li class="standard-list-item d-flex light-bor-bottom align-items-center">
              <div class="mr-auto">
                <div class="codice-attestato-text ">B89SJSJJ</div>
                <div class="codice-attestato-name">Federico Pomponii</div>
              </div>
              <app-icon iconName="delete" [isOutlined]="true"
                        [isCliccable]="true"></app-icon>
            </li>
          </ul>
        </div>
      </app-cst-panel-card>
    </div>
    <div class="col-7">
      <app-cst-panel-card
        cardTitle="Giornate Di Assenza (Confermate : {{getCountSelectedDays()}} / {{giornate.length}})">

        <section class="example-section">
          <mat-checkbox class="example-margin">Nelle giornate inserite sono presenti dei sabato e delle domeniche</mat-checkbox>
        </section>
        <div class="giornate-list-container">
          <app-giornate-list [giornate]="giornate"></app-giornate-list>
        </div>
      </app-cst-panel-card>
    </div>
  </div>
</div>
