<div *ngIf="null != allegatoLink && allegatoLink.length > 0 "
     class="cst-allegato-item d-flex align-items-center">
  <div class="cst-allegato-left">
    <app-icon inClass="cst-allegato-icon" [iconName]="'description'" [isCliccable]="true"
              [isOutlined]="true"></app-icon>
  </div>
  <div class="cst-allegato-right d-flex flex-column">
              <span class="cst-allegato-name">
                {{allegatoName}}
              </span>
    <span class="cst-allegato-date">
                {{uploadDate |  date: 'medium'}}
              </span>
  </div>
</div>
<div class="cst-allegato-item d-flex align-items-center"
     appDragAndDropUpload (click)="fileField.click()"
     (fileDropped)="upload($event)"
     *ngIf="null == allegatoLink || allegatoLink.length == 0">

  <div class="cst-allegato-left">
    <app-icon inClass="cst-allegato-icon" [iconName]="'cloud_upload'" [isCliccable]="true"
              [isOutlined]="true"></app-icon>
  </div>
  <span class="cst-allegato-no-link">
        Seleziona un file o trascinalo dal computer...
      </span>
</div>
<input type="file" name="avatars" #fileField (change)="upload($event.target.files)" hidden multiple>
