.side-nav-top img {
  width: 200px;
}

.side-nav-container {
  height: 100vh;
  padding-bottom: 1rem;
}

.side-nav-top {
  border-bottom: 1px solid #383c3e;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.side-nav-top img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.side-nav-center {
  width: 100%;
  margin-top: 30px;
}

.side-nav-list {
  padding: .5rem;
}

.navbar-user-info-circle {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #283033;
  border: 1px solid #9797972b;
  font-weight: bold;
  font-size: .8rem;
}

.navbar-user-info-name, .navbar-user-info-role {
  margin-bottom: 0;
}

.navbar-user-info {
  width: 100%;
  padding-right: 1rem;
}
