<div class="standard-panel">
  <div class="d-flex d-flex-row light-bor-bottom align-items-center mobile-title-flex-responsive">
    <div class="mr-auto title-mobile-responsive">
      <h1 class="text-title-dark">Riepilogo Istruttoria Richiesta - <b>{{richiesta.codice}}</b></h1>
      <div class="d-flex align-items-center">
        <div class="subtitle-dark">{{richiesta.volontario}} - {{richiesta.evento}}</div>
        <div *ngIf="richiesta.stato" appBackgroundStato [statoRichiesta]='richiesta.stato'
             class="cst-chips standard-shadow">
          {{richiesta.stato | dinamycDataPipe:'statoRichiesta'}}
        </div>
      </div>
    </div>
    <div class="btn-container-new">
      <app-cst-button btnClass="btn-warning" (click)="requestIntegration()" text="Richiedi Integrazioni"
                      iconName="thumb_down"></app-cst-button>
    </div>
    <div class="btn-container-new">
      <app-cst-button btnClass="btn-success" text="Completa istruttoria" (click)="toggleViewResume()"
                      iconName="verified"></app-cst-button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-5">
      <app-cst-panel-card cardTitle="Scheda Finanziaria">
        <ng-container rightTop>
          <app-cst-button btnClass="btn-success" text="Nuova scheda" (click)="toggleViewNewScheda()"
                          iconName="add"></app-cst-button>
        </ng-container>
        <label for="selectSchedaFinanziaria" class="form-label">Seleziona scheda</label>
        <select id="selectSchedaFinanziaria" class="form-select" (change)="onChangeScheda($event.target.value)">
          <option *ngFor="let el of schedeFinanziarie" [value]="el.id">{{el.text}}</option>
        </select>
      </app-cst-panel-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-12">
      <app-cst-panel-card cardTitle="Retribuzione">
        <app-retribuzione-list [retribuzioneItems]="retribuzioneItems"></app-retribuzione-list>
      </app-cst-panel-card>
    </div>
    <div class="col-xl-4 col-12">
      <app-cst-panel-card cardTitle="Contributi">
        <app-contributi-list [contributiItems]="contributiItems"></app-contributi-list>
      </app-cst-panel-card>
      <app-cst-panel-card cardTitle="Totale">
        <app-totale-list [totaleItems]="totaleItems"></app-totale-list>
      </app-cst-panel-card>
    </div>
    <div class="col-xl-4 col-12">
      <app-cst-panel-card cardTitle="Informazioni pagamento">
        <ul class="standard-list">
          <li class="standard-list-item light-bor-bottom d-flex align-items-end">
            <div class="mr-auto">
              IBAN
            </div>
            <div>
              {{iban}}
            </div>
          </li>
          <li class="standard-list-item light-bor-bottom d-flex align-items-end">
            <div class="mr-auto">
              Pagamento
            </div>
            <div>
              {{tipologiaPagamento | tipoPagamento}}
            </div>
          </li>
        </ul>
      </app-cst-panel-card>
      <app-cst-panel-card cardTitle="Allegati">
        <app-allegato-item allegatoLink="busta_paga.pdf"
                           allegatoType="Busta paga"
                           allegatoName="Busta paga.pdf"></app-allegato-item>
        <app-allegato-item
          allegatoLink="foglio_presenze.pdf"
          allegatoType="Foglio presenze"
          allegatoName="cedolino.pdf"></app-allegato-item>
      </app-cst-panel-card>
      <app-cst-panel-card cardTitle="Storico">
        <app-history-list [histories]="histories"></app-history-list>
      </app-cst-panel-card>
    </div>
  </div>
</div>
