<div class="cst-data-table-card" *ngFor="let item of dataSource">
  <div class="cst-data-card-main-row d-flex flex-row">
    <div class="d-flex flex-column mr-auto">
    <span class="cst-card-item-name">
      Mario Rossi
    </span>
      <span class="cst-card-item-subtitle">
      Azienda Privata
    </span>

    </div>
    <div class="d-flex align-items-center">
      <app-icon inClass="cst-data-card-icon" iconName="edit" (click)="showFunction(1)" [isCliccable]="true" [isOutlined]="true"></app-icon>
      <app-icon inClass="cst-data-card-icon" iconName="open_in_new" (click)="deleteFunction(1)" [isCliccable]="true" [isOutlined]="true"></app-icon>
    </div>
  </div>
  <div class="d-flex align-items-center cst-card-data-date">
    <app-icon iconName="today" [isOutlined]="true"></app-icon>
    <span>18 Maggio, 2021 - 29 Maggio, 2021</span>
  </div>
</div>
