<div class="notification-panel standard-shadow d-flex">
  <div class="notification-panel-left d-flex align-items-center">
    <div class="notification-panel-line">
    </div>
    <app-icon iconName="warning" inClass="notification-panel-icon"></app-icon>
  </div>
  <div class="notification-panel-right">
    <div class="notification-panel-title">
      Richiesta integrazioni
    </div>
    <div class="notification-panel-text">
      Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet Lorem
      Ipsum Dolor Sit Amet
    </div>
  </div>
</div>
