<div class="richiesta-resume">
  <div class="richiesta-resume-section">
    <div class="resume-section-title str-bor-bottom">
      Retribuzione
    </div>
    <app-resume-list [listElement]="retribuzioni"></app-resume-list>
  </div>
  <div class="richiesta-resume-section">
    <div class="resume-section-title str-bor-bottom">
      Contributi
    </div>
    <app-resume-list [listElement]="contributi"></app-resume-list>
  </div>
  <div class="richiesta-resume-section">
    <div class="resume-section-title str-bor-bottom">
      Totali
    </div>
    <app-resume-list [listElement]="totali"></app-resume-list>
  </div>
</div>
