<form class="g-3" [formGroup]="totaleForm">
  <div class="col-12">
    <label for="inputTotale" class="form-label">Totale costo complessivo</label>
    <input type="number" formControlName="totale" class="form-control"
           id="inputTotale">
  </div>
  <div class="col-12">
    <label for="inputModalitaRimborso" class="form-label">Modalità Rimborso</label>
    <select id="inputModalitaRimborso" formControlName="modalitaRimborso" class="form-select">
      <option selected>Scegli una modalità...</option>
    </select>
  </div>
</form>
