<div class="row align-items-end">
  <div class="col-9">
    <div class="d-flex flex-column">
        <span class="giornata-list-data">
          {{giornata.giorno |  date: 'medium'}}
        </span>
      <span class="giornata-list-codice">
          {{giornata.codiceEvento}}
        </span>
    </div>
  </div>
  <div class="col-3">
      <label for="inputGiornate" class="form-label d-none">Ore effettive</label>
      <input type="number" class="form-control" [defaultValue]="0"
             id="inputGiornate">
    </div>
</div>
