
.giornata-list-data {
  font-size: 1.2rem;
}

.giornata-list-ore {
  font-size: .9rem;
}

.giornata-list-codice {
  font-size: .8rem;
  color: rgb(0, 156, 255);
}

.giornata-list-evento
{
  font-size:.8rem;
}
