.deleghe-panel {
  padding: 2rem;
}

.deleghe-table-container {
  padding: 2rem;
  background: white;
  border-radius: 1rem;
}

.cst-data-table-thead tr th {
  box-shadow: 0px 10px 11px -8px rgba(218, 218, 218, 0.20);
  -webkit-box-shadow: 0px 10px 11px -8px rgba(218, 218, 218, 0.20);
  border-bottom: 1px solid #cfcfcf91 !important;
  padding-bottom: 1.5rem;
  font-size: .8rem;
}

.filter-thead-table {
  width: auto;
}

.thead-input-filter {
  padding-left: 40px;
}

.thead-table-filter-icon {
  color: #d0d0d0;
}

.deleghe-edit-section {
  height: 100vh;
  position: fixed;
  right: 0;
  width: 35vw;
  background: white;
  top: 0;
}

.deleghe-edit-section {
  padding: 2rem;
  z-index: 3;
}
