<div class="standard-panel">
  <div class="d-flex d-flex-row align-items-center">
    <h1 class="text-title-dark mr-auto">Deleghe</h1>
    <div class="btn-container-new">
      <app-cst-button btnClass="btn-success" text="Nuova delega" iconName="add"></app-cst-button>
    </div>
  </div>
  <div class="deleghe-table-container standard-shadow">
    <app-cst-table [filters]="dataSourceFilters"
                   (filterEvent)="filterEvent($event)"
                   [search]="datasourceSearch"
                   (showItemEvent)="showItem($event)"
                   [columns]="dataSourceColumns"
                   [dataSource]="dataSource"></app-cst-table>
  </div>
</div>
