<div class="deleghe-panel">
  <div class="d-flex d-flex-row align-items-center">
    <h1 class="text-title-dark mr-auto">Deleghe</h1>
    <div class="btn-container-new">
      <app-cst-button btnClass="btn-success" text="Nuova delega" iconName="add"></app-cst-button>
    </div>
  </div>
  <div class="deleghe-table-container standard-shadow">
    <app-cst-table [filters]="dataSourceFilters"
                   (filterEvent)="filterEvent($event)"
                   [search]="datasourceSearch"
                   [columns]="dataSourceColumns"
                   [dataSource]="dataSource"></app-cst-table>
  </div>
</div>
<!-- <div class="overlay"></div>
<div class="deleghe-edit-section standard-shadow">
  <div class="deleghe-edit-top">
    <mat-icon class="deleghe-edit-close-icon">close</mat-icon>
  </div>
  <app-edit-delega></app-edit-delega>
</div> -->
