.deleghe-table-container {
  padding: 2rem;
  background: white;
  border-radius: .2rem;
}

.deleghe-edit-section {
  height: 100vh;
  position: fixed;
  right: 0;
  width: 35vw;
  background: white;
  top: 0;
}

.deleghe-edit-section {
  padding: 2rem;
  z-index: 3;
}
