<div class="standard-panel">
  <div class="d-flex d-flex-row align-items-center">
    <h1 class="text-title-dark mr-auto">Deleghe</h1>
    <div class="btn-container-new">
      <app-cst-button btnClass="btn-success" (click)="showItem(1)" text="Nuova delega" iconName="add"></app-cst-button>
    </div>
  </div>
  <div class="standard-panel-container standard-shadow standard-section-margin">
    <app-cst-filter-section [filters]="dataSourceFilters"
                            [search]="datasourceSearch"
                            (filterEvent)="filterEvent($event)"></app-cst-filter-section>
    <div class="md-show cst-data-table-small-screen">
      <app-cst-card-data-table class="md-show" [dataSource]="dataSource" [columns]="dataSourceColumns"></app-cst-card-data-table>
    </div>
    <app-cst-table
      class="md-hide"
      (showItemEvent)="showItem($event)"
      [columns]="dataSourceColumns"
      [dataSource]="dataSource"></app-cst-table>
  </div>
</div>
