<div class="standard-panel">
  <div class="d-flex d-flex-row align-items-center mobile-title-flex-responsive">
    <h1 class="text-title-dark mr-auto title-mobile-responsive">Notifiche</h1>
  </div>
  <div class="standard-panel-container standard-shadow standard-section-margin">
    <app-cst-filter-section [filters]="dataSourceFilters"
                            [search]="datasourceSearch"
                            (filterEvent)="filterEvent($event)"></app-cst-filter-section>
    <div class="md-show cst-data-table-small-screen">
      <app-cst-card-data-table class="md-show" [dataSource]="dataSource"
                               [columns]="dataSourceColumns"></app-cst-card-data-table>
    </div>
    <app-cst-table
      class="md-hide"
      (showItemEvent)="showItem($event)"
      [columns]="dataSourceColumns"
      [dataSource]="dataSource"></app-cst-table>
  </div>
</div>
