@media (max-width: 512px) {
  .xs-hide {
    display: none;
  }

  .side-nav {
    width: 70vw  !important;
  }
}

@media (min-width: 512px) {
}

@media (max-width: 768px) {
  .sm-hide {
    display: none;
  }


  .side-nav {
    width: 40vw !important;
  }
}

@media (min-width: 768px) {


}


@media (max-width: 992px) {
  .md-hide {
    display: none;
  }

}

@media (min-width: 992px) {
  .md-show {
    display: none;
  }

}

@media (max-width: 1199px) {

  .side-nav {
    width: 30vw !important;
  }

  .standard-panel {
    padding: 0 !important;
  }

  .cst-data-table-filters-section {
    position: sticky;
    top: 0;
    padding-top:.5rem;
    background: white;
  }

  .cst-filter-list {
    display: block !important;
  }

  .cst-data-table-filter-badge {
    margin: .5rem;
  }

  .lg-hide {
    display: none;
  }


}

@media (min-width: 1200px) {
  .xl-hide {
    display: none;
  }

  .side-nav {
    position: sticky !important;
  }
}

@media (min-width: 1600px) {
  html,body {
    font-size:110% !important;
  }
}


@media (min-width: 1800px) {
  html,body {
    font-size:120% !important;
  }
}
