@media (max-width: 512px) {
  .xs-hide {
    display: none;
  }

  .user-info-page-right {
    border: 0 !important;
  }

  .user-info-panel {
    padding: 1rem !important;
  }

  .standard-card-panel-body {
    text-align: center;
  }

  .panel-right-top {
    position: sticky;
    top: 0;
    z-index: 1001;
  }

  .panel-right {
    bottom: 0;
    top: inherit;
    width: 100vw;
    height: 90vh;
  }
}

@media (min-width: 512px) {
}

@media (max-width: 768px) {

  .text-title-dark {
    font-size: 1.5rem;
    border-left: none;
  }

  .notification-panel {
    width: 95vw !important;
  }

  .notification-panel-title {
    font-size: 1.2rem !important;
  }

  .sm-hide {
    display: none;
  }

  .side-nav {
    width: 70vw !important;
  }

  .title-mobile-responsive {
    margin: 0 auto !important;;
  }

  .mobile-title-flex-responsive {
    flex-direction: column;
    text-align: center;
  }


}

.title-mobile-responsive {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {

  .side-nav {
    width: 40vw !important;
  }

}


@media (max-width: 992px) {
  .md-hide {
    display: none;
  }

}

@media (min-width: 992px) {
  .md-show {
    display: none;
  }

}

@media (max-width: 1199px) {

  .standard-panel {
    padding: .5rem !important;
  }

  .cst-data-table-filters-section {
    position: sticky;
    top: 0;
    padding-top: .5rem;
    background: white;
  }

  .cst-filter-list {
    display: block !important;
  }

  .cst-data-table-filter-badge {
    margin: .5rem;
  }

  .lg-hide {
    display: none;
  }


}

@media (min-width: 1200px) {
  .xl-hide {
    display: none;
  }

  .side-nav {
    width: 30vw !important;
  }
}

@media (max-width: 1600px) {
}

/*
@media (min-width: 1400px) {
  .xxl-hide {
    display: none;
  }
  html,body {
    font-size:110% !important;
  }
}
*/


@media (min-width: 1600px) {
  .xxxl-hide {
    display: none;
  }

  .side-nav {
    position: sticky !important;
    z-index: 1 !important;
  }
  .col-xxxl-2 {
    width: 16.6% !important;
  }

  .col-xxxl-10 {
    width: 83.3% !important;
  }
  html, body {
    font-size: 100% !important;
  }
}

@media (min-width: 1800px) {
  html, body {
    font-size: 110% !important;
  }
}
