<form class="g-3" [formGroup]="contributi">
  <div class="col-12">
    <label for="inputInps" class="form-label">INPS</label>
    <input type="number" formControlName="inps" class="form-control" id="inputInps">
  </div>
  <div class="col-12">
    <label for="inputInail" class="form-label">INAIL</label>
    <input type="number" formControlName="inail" class="form-control" id="inputInail">
  </div>
  <div class="col-12">
    <label for="inputAltri" class="form-label">Altri contributi</label>
    <input type="number" formControlName="altri" class="form-control" id="inputAltri">
  </div>
  <div class="col-12">
    <label for="inputSubtotale" class="form-label">Totale costo contributi</label>
    <input type="number" formControlName="subtotale" class="form-control" id="inputSubtotale">
  </div>
</form>
