<table class="table cst-data-table">
  <thead class="cst-data-table-thead">
  <tr>
    <th scope="col" *ngFor="let col of columns">
      {{col.name}}
    </th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dataSource;let i = index">
    <td *ngFor="let col of columns">
      <span [style.backgroundColor]="col.backgroundFunction ? col.backgroundFunction(item) : 'transparent'"
            [class.cst-data-chips]="col.colType=='chips'">
        {{col.propType == 'date' ? (item[col.propName] | date) : item[col.propName] }}
      </span>
    </td>
    <td>
      <div class="cst-data-table-actions d-flex d-flex-row">
        <app-icon iconName="delete" [isCliccable]="true" [isOutlined]="true"></app-icon>
        <app-icon iconName="open_in_new" (click)="clickShow(item.id)" [isCliccable]="true" [isOutlined]="true"></app-icon>
      </div>
    </td>
  </tr>
  </tbody>
</table>
