

.cst-data-table-thead tr th {
  box-shadow: 0px 10px 11px -8px rgba(218, 218, 218, 0.20);
  -webkit-box-shadow: 0px 10px 11px -8px rgba(218, 218, 218, 0.20);
  border-bottom: 1px solid #cfcfcf91 !important;
  font-size: .8rem;
  min-width: 7rem;
}

.cst-data-table tr td {
  font-size: .8rem;
}

.cst-data-chips {
  padding: .25rem;
  border-radius: 1rem;
  font-size: .6rem;
}
