<table class="table cst-data-table">
  <thead class="cst-data-table-thead">
  <tr>
    <th scope="col" *ngFor="let col of columns">
      {{col.name}}
    </th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dataSource;let i = index">
    <td *ngFor="let col of columns">
      <span *ngIf="col.pipe == null" [style.backgroundColor]="col.backgroundFunction ? col.backgroundFunction(item) : 'transparent'"
            [class.cst-data-chips]="col.colType=='chips'">
        {{colText(col,item)}}
      </span>
      <span *ngIf="col.pipe">
        {{colText(col,item) | dinamycDataPipe: col.pipe}}
      </span>
    </td>
    <td>
      <div class="cst-data-table-actions d-flex d-flex-row">
        <app-icon iconName="delete" [isCliccable]="true" [isOutlined]="true"></app-icon>
        <app-icon iconName="visibility" [isCliccable]="true" [isOutlined]="true" (click)="clickShow(item.id)"></app-icon>
        <app-icon iconName="edit" (click)="clickEdit(item.id)" [isCliccable]="true" [isOutlined]="true"></app-icon>

      </div>
    </td>
  </tr>
  </tbody>
</table>
